$fullhd: 1200px + (2 * $gap);
$section-padding-desktop: 3rem 0;

//colors

$turquoise-blue:#02b8de;
$adidasblue: #1968E5;


//font-family
$family-primary: 'Roboto', sans-serif;
$family-secondary: 'Gluten', cursive;


//font-size
$is-size-1: 26px;
$is-size-2: 22px;
$is-size-3: 18px;
$is-size-4: 16px;
$is-size-5: 14px;
$is-size-6: 12px;

